* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary, body {
	display:block;
	font-family: 'Alegreya', serif;
}

nav ul li{
	display: inline;
	padding-right: 2%;
	font-size: 1.2rem;
	font-family: 'Sedgwick Ave Display', cursive;

}

a{
	color: white;
	text-decoration: none;
}

.current-page{
	color: #f40000;
	text-decoration: underline;
	text-decoration-color: #f40000 ;
}

.hero{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-image: url('images/hero.jpg');
	min-height: 400px;
	width: 100%;
	background-size: cover;
	border-bottom: 5px solid black;
	
}

#logo{
	color:white;
	font-family: 'Sedgwick Ave Display', cursive;
	padding: 1% 4% 1% 1%;
}

nav{
	color: white;
	padding: 1% 0 1% 4%;
	width: 50%;
	font-family: 'Sedgwick Ave Display', cursive;

}



h2{
	font-family: 'Sedgwick Ave Display', cursive;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #f40000 ;
}

h3{
	font-family: 'Sedgwick Ave Display', cursive;
	padding: 1% 0 3% 0;
}

p{
	padding-top: 2%;
}

.h2-underline{
	width: 30%;
	height: 5px;
}

.home-main{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 3% 0 3%;
}

.home-left{
	width: 40%;
	padding: 2%;
}

.home-right{
	width: 40%;
	padding: 2%;
}

iframe{
	padding-top: 2%;
}

.home-quote{
	margin: 0 10% 0 10%;
	text-align: center;
}

.hide{
	display: none;
}

  /*Start Alert CSS*/

.alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
  }
  
  .closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  .closebtn:hover {
	color: black;
  }


  .row > .column {
	padding: 0 8px;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
    /*End Alert CSS*/

#gallery-h2{
	padding: 3%;
}
    /*Start Lightbox CSS*/

  /* Create four equal columns that floats next to eachother */
  .column {
	float: left;
	width: 21%;
  }
  
  /* The Modal (background) */
  .modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
	display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* Caption text */
  .caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
  }
  
  img.demo {
	opacity: 0.6;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }
  
  img.hover-shadow {
	transition: 0.3s;
  }
  
  .hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /*End Lightbox CSS*/
  
  /*Start About Us Scrolling CSS*/
  .progress-container {
	width: 100%;
	height: 8px;
	background: #ccc;
  }
  
  .progress-bar {
	height: 8px;
	background: red;
	width: 0%;
  }
  
  .content {
	margin: 0 auto;
	padding: 5%;
	width: 50%;
  /*End About Us Scrolling CSS*/
  }

  .direction-main{
	  text-align: center;
  }
 
  .direction-h2{
	  padding-top: 1%;
  }


/*Max Width 928px*/

@media (max-width: 928px){

	#logo{
		font-size: 1.4rem;
	}

	.home-main{
		display: inline-block;
	}

	.home-left{
		width: 100%;
	}
	.home-right{
		width: 100%;
	}
}

@media (max-width: 650px){

	nav{
		display: none;
	}
}

@media (min-width: 1392px){
	#logo{
		font-size: 3rem;
	}

	nav{
		padding-top: 2%;

	}

	nav ul li{
		font-size: 1.8rem;
	}
}
