* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display:block;
	font-family: 'Alegreya', serif;
}

nav ul li{
	display: inline;
	padding-right: 2%;
	font-size: 1.2rem;
}

a{
	color: white;
	text-decoration: none;
}

.current-page{
	color: #f40000;
	text-decoration: underline;
	text-decoration-color: #f40000 ;
}

.hero{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-image: url('images/hero.jpg');
	min-height: 400px;
	width: 100%;
	background-size: cover;
	border-bottom: 5px solid black;
	
}

#logo{
	color:white;
	font-family: 'Sedgwick Ave Display', cursive;
	padding: 1% 4% 1% 1%;
}

nav{
	color: white;
	padding: 1% 0 1% 4%;
	width: 50%;
	font-family: 'Sedgwick Ave Display', cursive;

}



h2{
	font-family: 'Sedgwick Ave Display', cursive;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #f40000 ;
}

h3{
	font-family: 'Sedgwick Ave Display', cursive;
	padding: 1% 0 3% 0;
}

p{
	padding-top: 2%;
}

.h2-underline{
	width: 30%;
	height: 5px;
}

.home-main{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 3% 0 3%;
}

.home-left{
	width: 40%;
	padding: 2%;
}

.home-right{
	width: 40%;
	padding: 2%;
}

.home-right iframe{
	padding-top: 2%;
}

.home-quote{
	margin: 0 10% 0 10%;
	text-align: center;
}

#hamburger{
	padding: 3%;
}

#hamburger-menu ul li{
	text-decoration: none;
}

.hide{
	display: none;
}

.alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
  }
  
  .closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  .closebtn:hover {
	color: black;
  }



/*Max Width 928px*/
@media (max-width: 928px){

	#logo{
		font-size: 1.4rem;
	}

	.home-main{
		display: inline-block;
	}

	.home-left{
		width: 100%;
	}
	.home-right{
		width: 100%;
	}
}

@media (max-width: 650px){

	nav{
		display: none;
	}

	.hamburger{
		display: 
	}
}

@media (min-width: 1392px){
	#logo{
		font-size: 3rem;
	}

	nav{
		padding-top: 2%;

	}

	nav ul li{
		font-size: 1.8rem;
	}
}

@media (min-width: 650px){
	#hamburger{
		display: none;
	}
}